

.hidden {display:none;}

#devbar { 
    line-height: 4em;
    font-size: 13px; 
    position:fixed;
    bottom:0;
    width:100%;
    
    ul#colors{
        margin:0 auto;
        width:80%;
        text-align:center;
        
        >li {
            display: inline-block; 
            width:4%;
            border: 1px solid white;
            margin: 0 -2px 0 -2px;
            color: white;

            &.a1 {
                background-color: @a1;
                .eclipse (@a1);
            }
            &.a2 {
                background-color: @a2;
                 .eclipse (@a2);
            }
            &.a3 {
                background-color: @a3;
                 .eclipse (@a3);
            }

            &.a4 {
                background-color: @a4;
                 .eclipse (@a4);
            }

            &.a5 {
                background-color: @a5;
                 .eclipse (@a5);
            }

            &.b1{
                background-color: @b1;
                 .eclipse (@b1);
            }
            &.b2 {
                background-color: @b2;
                 .eclipse (@b2);
            }
            &.b3 {
                background-color: @b3;
                 .eclipse (@b3);
            }
            &.b4 {
                background-color: @b4;
                 .eclipse (@b4);
            }

            &.b5 {
                background-color: @b5;
                .eclipse (@b5);
            }

            &.c1 {
                background-color: @c1;
                 .eclipse (@c1);
            }
            &.c2 {
                background-color: @c2;
                 .eclipse (@c2);
            }
            &.c3 {
                background-color: @c3;
                 .eclipse (@c3);
            }
            &.c4 {
                background-color: @c4;
                 .eclipse (@c4);
            }

            &.c5 {
                background-color: @c5;
                 .eclipse (@c5);
            }

            &.bw1 {
                background-color: @bw1;
                 .eclipse (@bw1);
            }
            &.bw2 {
                background-color: @bw2;
                 .eclipse (@bw2);
            }
            &.bw3 {
                background-color: @bw3;
                 .eclipse (@bw3);
            }
            &.bw4 {
                background-color: @bw4;
                 .eclipse (@bw4);
            }

            &.bw5 {
                background-color: @bw5;
                 .eclipse (@bw5);
            }
        }
    }
}

#bdevbar {
                  position: fixed;
                  bottom: 0;
                  left: 0;
                  padding: 5px 5px 0;
                  background-color: @bw5;
                  border-radius: 0 16px 0 0;
                  z-index: 6000000;
                  width: 40px;
                  height: 40px;
                  opacity: 0.65;
                  
                  &:hover {
                      opacity:1;
                  }
} 

